*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1;
}
.carousel-inner img{
    width: 100%;
    height: 400px;
}
.carousel-control-prev,.carousel-control-next{
    height: 100px;
    margin: auto;
}
/*make the circle*/
.carousel-indicators li{
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    width: 10px;
    border: 1px solid #FFF;
    background: red;
}
.padding{
    padding: 50px
}
hr{
    padding: 1px;
}
.display-4{
    padding-bottom: 10px;
}
.fas,.fab{
    font-size: 3em;
}
.fa-code{
    color: red;
}
.fa-bold{
    color: purple
}
.fa-css3{
    color: blue;
}
#box div{
    padding: 20px
}
i{
    animation: icondrop 3s linear;
    padding-bottom: 5px;
}
@keyframes icondrop{
    0%{
        transform: translateY(-70px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes cardDrop{
    0%{
        transform: translateY(-70px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}



/*Turn Cards over*/
.card{
    transform-style: preserve-3d;
    position: relative;
    height: 300px;
    perspective: 1000px;
    border: none;
    margin-bottom: 10px;
    animation: cardDrop 3s ease;
}
.card img{
    height: 100%;
}
.card:hover .font{
    transform: rotateY(-180deg);
}
.card:hover .back{
    transform: rotateY(0deg);
}
.font,.back{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s ;
    box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.2);
}
.back{
    transform: rotateY(180deg);
    background: gray;
}
hr{
    border-top: 2px solid black;
    margin-top: 40px;
}

.social{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 45px
}
.box-social{
    width: 60%;
    margin: auto;
}
footer{
    background: rgba(0, 0, 0, 0.685);
}
footer hr{
    margin-top: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.089)
}

footer .container-fluid{
    color: white;
}



.navbar-nav{
    font-size: 19px;
}
.navbar-nav li{
    padding-right: 50px;
}

.back-top{
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: rgb(109, 223, 56);
    cursor: pointer;
    padding: 17px;
    border-radius: 50%;
    z-index: 99;
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.2);
}
.back-top:hover{
    opacity: 0.8;
}